# VCS -------------------------------------------------------------------------
.git
.gitignore

# Docker ----------------------------------------------------------------------
Dockerfile
.dockerignore

# Node / package manager artefacts -------------------------------------------
node_modules
npm-debug.log*

# IDEs ------------------------------------------------------------------------
.vscode

# Build outputs ---------------------------------------------------------------
dist
playwright-report

# Environment & secrets -------------------------------------------------------
.env
.env.*
